@rendermode InteractiveServer
<details>
	<summary>Fibonacci</summary>
	<form>
		<h4>Числа Фибоначчи</h4>
		<label for="number">Введите число:  </label>
		<input type="number" id="number" name="number" @bind-value="num" @bind-value:event="oninput" />
		<div style="flex-wrap:wrap; display:flex">
			<div style="padding:5px">Числовой ряд Фибоначчи: </div>
			@for(int i =0; i<num;i++)
			{
				<div style="padding:5px">@fibonacci_it(i)</div>
			}
		</div>
	</form>
</details> 


